
# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

import ./init.environ.rc

on early-init
#	start system
	
#	class_start core


on init
#	start popen
	start args

service args ../args/main 11 22 33 44 55
	critical
	console
	oneshot
	
service popen ../c_shell/popen/main
	critical
#	console
	oneshot
	
service system ../c_shell/system/main
#	critical
	console
#	onrestart
	oneshot
	
service execl ../c_shell/execl/main
	class core	
	
service execle ../c_shell/execle/main
	class core
	
service execlp ../c_shell/execlp/main
	class core
	
service execv ../c_shell/execv/main
	class core
	
service execve ../c_shell/execve/main
	class core
	
service execvp ../c_shell/execvp/main
	class core

#on early-init
    # Set init and its forked children's oom_adj.
    # write /proc/1/oom_adj -16

    # Set the security context for the init process.
    # This should occur before anything else (e.g. ueventd) is started.
    # setcon u:r:init:s0

    # start main

    # start sshd


#service main /home/lsb/Desktop/af_unix/service/execl/main
#    class core
#    critical


# service sshd /system/bin/start-ssh
#    disabled


# service mdnsd /system/bin/mdnsd
#     disabled


# service bootanim /system/bin/bootanimation
#     disabled

